---
import RBACComponent from '../../components/RBAC/RBACComponent.astro'
import { COOKIE_NAME } from '../../lib/constants/constants.js';

//Set Constants
const currentPage = 'settings';

console.log("These are the props on dashboard", Astro.props)

//Get Session Cookie Name
let isLocal = Astro.request.url.split('://')[0]; 
let cookieName = COOKIE_NAME;


const LOCAL_URL = process.env.LOCAL_URL;
const PRODUCTION_URL = process.env.PRODUCTION_URL;

// let cookie = Astro.cookies.has(cookieName) ? Astro.cookies.get(cookieName).value : null;

let cookie = 'bright_anon';
//Auth snippet, on each individual page for now as Auth wrapper not working
// if(!Astro.cookies.has(cookieName)){
//     console.log('No cookie found');    
//     return Astro.redirect('/log-in/')
// }

if(isLocal === 'https'){
  isLocal = PRODUCTION_URL }
    else{ console.log("this is localhost") 
    isLocal = LOCAL_URL 
} 


//Fetch data for this page from readapi endpoint with encrypted user details and or auth token if needed for more protected/updated data
let readapi;

// try {
// 	const response =  await fetch(
// 			`${isLocal}/readapi/Reads/dashboard.json?cookie=${cookie}&page=${currentPage}`,
// 			{ method: "post" }
// 		)
// 		.then(response => response.json())
// 		.then(data => {
// 			console.log(886868,data, data.message,77444998777 );
// 			if(data.message == 'success'){

// 				console.log('success getting data from readapi endpoint')
// 				let readApiData = data.data.message
// 				let addOnData = data.addOnData[0]
// 				let totalData = data.addOnData
// 				let dashboardData = {...readApiData, ...addOnData, fullData:totalData}
// 				readapi = dashboardData
// 				return readapi
				
// 			}else{
// 				console.log('error getting data from readapi endpoint')
// 			}
// 		});       
// } catch (error) {
//     console.error('There was a problem with the fetch operation:', error.message);
// }

readapi = {
  id: 1,
  created_at: 1697075046561,
  name: 'Steven',
  email: 'steven.otu@gmail.com',
  role: 'Passenger',
  authStatus: 'success',
  fullData: { test: '131344' }
}

console.log('this is the readapi data on documents page', readapi, );

//Core Page Entity and Event Objects 
let userId = readapi.id;
let userRole = readapi.role;


 //Core page Workflows & Commands

//Document Retriveal Upload document


---
<div class="fade-in">
    <div id="loader" class="loader"></div>
    <div id="dashboardContainer" class="hidden">
        <RBACComponent userRole={userRole} userId={userId} data={readapi} currentPage={currentPage} />	
    </div>

</div>

<script>
	setTimeout(() => {
		document.getElementById('loader').classList.add('hidden');
		document.getElementById('dashboardContainer').classList.remove('hidden');
	}, 500); // Page loader spinner set to 500ms
</script>


<style>
	@keyframes spin {
	 0% { transform: rotate(0deg); }
	 100% { transform: rotate(360deg); }
   }
   
   .loader {
	 border: 16px solid #f3f3f3;
	 border-top: 16px solid #3498db;
	 border-radius: 50%;
	 width: 50px;
	 height: 50px;
	 animation: spin 0.5s linear infinite;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
   }
   
   .hidden {
	 display: none;
   }
   .wrapper {
    display: flex;
    overflow-x: hidden;
	
	}

	.content-container {
		display: flex;
		flex-direction: column;
		flex: 1;
		min-height: 100vh;
	}

	.sticky-top {
		position: sticky;
		top: 0;
		z-index: 1000;
	}

	.top-nav-adjusted {
		flex: 0.7;
	}

</style>


